*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: antiquewhite;
}

.content-container
{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
}

.navbar
{
    display: flex;
    background-color: #222;
}

ul
{
    display: none;
    list-style-type: none;
}

ul li a
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 40%;
    display: block;
    padding: 10px; 
}

ul li a:hover
{
    color: rgb(41, 197, 41);
}


.bars
{
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    margin-left: auto;
    padding: 13px;
}

.bars:hover
{
    color: #29c529;
}

.active
{
    display: block;
    z-index: 1;
    list-style-type: none; 
    background-color: #111;
    width: 100%;
    opacity: .8;
}

.login-status
{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#logout-submit
{
    font-size: 18px;
    color: #fff;
    background: none;
    border: none;
    margin-left: 43%; 
    padding: 5px 0px 10px 0px;
}

#logout-submit:hover
{
    color: #29c529;
}


@media only screen and (min-width: 768px)
{


    .bars
    {
        display: none;
    }
    
    ul
    {
        display: flex;
        margin-top: -5.5%;
    }

    ul div:nth-child(4)
    {
        margin-left: auto;
        margin-right: 10%;
    }

    .active
    {
        display: flex;
        list-style-type: none; 
        background-color: none;
        width: 100%;
        margin-top: -7%;
        padding-top: 10px;
        opacity: 1;
    }

}

@media only screen and (min-width: 768px)
{
    ul
    {
        margin-top: -4.3%;
    }

    ul div:nth-child(4)
    {
        margin-left: auto;
        margin-right: 8%;
    }
}