*
{
    padding: 0%;
    margin: 0%;
}

body
{
    background-color: #c9cbcc;
}

h1
{
    text-align: center;
    font-size: 72px;
}

.section-default
{
    margin: 15%;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 15px;
}

.errorCheck
{
    text-align: center;
    font-size: 32px;
    color: red;
    margin-top: 20px;
}

input
{
    font-size: 42px;
    margin-top: 5%;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 8%;
}

button
{
    font-size: 32px;
    margin-top: 10%;
    margin-left: 37%;
    margin-bottom: 5%;
    padding: 10px;
    background-color: #79bafc;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

a
{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-left: 41%;
}